@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

:root{
    --primary: #fad503;
    --dark: #0E0E0E;
    --secondary: #0f1314;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #fff;
    background-color: var(--dark)
}

a {
    text-decoration: none;
}

/* Utilities */

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.px-1{padding: 0 1.5rem;}
.px-2{padding: 0 2rem;}
.px-3{padding: 0 3rem;}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.m-1{margin: 1.5rem;}
.m-2{margin: 2rem;}
.m-3{margin: 3rem;}

.mx-1{margin: 0 1.5rem;}
.mx-2{margin: 0 2rem;}
.mx-3{margin: 0 3rem;}

.my-1{margin: 1.5rem 0;}
.my-2{margin: 2rem 0;}
.my-3{margin: 3rem 0;}


.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}



.icon-btn{
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid var(--primary);
    border-radius: 50%;
    padding: .60rem;
    margin: 0 .3rem;
}

.icon-btn:hover{
    background-color: var(--primary);
}

.m-heading{

    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 1rem;

}


.l-heading{

    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    font-weight: 200;
    padding-bottom: 1rem;

}


.lead{
    font-size: 1.5rem;
    font-weight: 200;
}
.small{
    font-size: .75rem;
    
}

.text-center{
    text-align: center;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-dark{
    background-color: var(--dark);
}

.text-primary{
    color: var(--primary);
}

.text-dark{
    color: var(--dark);
}

/*Showcase */

#showcase{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
    linear-gradient(rgba(0, 0, 0, 0.8),
        rgba(17, 17, 17, 0.8)),
    url('../img/anim.gif') no-repeat center bottom/cover;
}

#showcase .showcase-content{
    border-left: 1.5px solid var(--primary);
}

#showcase .showcase-content h1.title{
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
}

#showcase .showcase-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


/*About Me */

#about {
    height: 40vh;
}

#about .container{
    display: flex;
}


#about .about-description{
    flex: 1;
}

#about .about-items{
    display: flex;
    flex: 1;
}

#about .about-items .item {
    text-align: center;
}


#about .about-items .item i{
    color: var(--primary);
    font-size: 3.75rem;
    margin-bottom: .5rem;
}

/*About Me */

#projects .project-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  grid-gap: 30px;
}

#projects .project-items .item .item-overlay{
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.92); /* Black see-through */
    width: 200px;
    height: auto;
    color: #f1f1f1;
    transition: .5s ease;
    color: white;
    padding: 20px;
    text-align: center;
}

#projects .project-items .item .item-overlay .project-links .icon-btn{
    font-size: 14px;
    margin-top: 7px;
}

#projects .project-items .item .item-overlay .project-desc{
    display: none;
}

#projects .project-items .item:hover .item-overlay .project-desc{
    display: block;
    transition: .2s;
}



/*Contact */
#contact .contact-content{
    display: flex;
}



